<div *ngIf="isLoading" class="news-progressbar">
	<p-progressBar mode="indeterminate"></p-progressBar>
</div>

<div layout="column" class = "contener" style="padding: 0 20px; position: relative; background-color: #4da8dd; color: white;">
	<div style="padding: 15px; text-align: center;">
		<span class="news-header">What is Hacker News ABC</span>
	</div>
	<div style="padding: 0 20px 20px 0; color: white;" hide show-gt-sm flex>
		Hacker News is a social news website focusing on computer science and entrepreneurship. 
		It is run by Paul Graham's investment fund and startup incubator, Y Combinator. 
		In general, content that can be submitted is defined as "anything that gratifies one's intellectual curiosity.
	</div>	
	

</div>

<div class="container" fxLayout="row wrap" fxLayoutAlign="center center" 
	style="background-color: whitesmoke; padding: 10px; ">
	<div *ngFor="let item of hackerNews" class="feature-card">
		<div fxLayout="column" fxLayoutAlign="start center">
			<div>
				<img *ngIf="item.url" src="{{item.url}}"   style="max-height: 130px; max-width: 310px; "/>
				<img *ngIf="!item.url" src="assets/images/empty.png"  style="max-height: 130px; " />
				
			</div>
			
			<a href class="feature-name" [routerLink]="['/newsdetail', item.subtitle]"> {{item.subtitle | uppercase}} </a>
			<div style="font-size: 13px;">{{item.description}}</div>
		</div>
	</div>
	<div fxLayout="row" fxLayoutAlign="center center" style="width: 100%; margin:10px;">
		<button mat-stroked-button color="primary" *ngIf="!isFinished" (click)="loadMoreData()" 
		class="btn-loadmore">Load more...</button>
	</div>
</div>
<div class="layout-footer">
	<span style="margin-left: 20px; color: white;">Designed by: tacjlee@gmail.com</span>
</div>